.func{
    background-color: #f4f4f4 !important;
    height: fit-content;
    border-radius: 30px;
    
}.func{
    background-color: #f4f4f4;
    border-radius: 30px;
    height: fit-content;
    padding: 15px;
}