.teste1, .teste2, .teste3, .teste4{
    background-color: #f4f4f4;
    border-radius: 30px;
    padding: 10px !important;
    margin: 10px;
    align-items: center;
}

.contrato-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: -250px;
}

#p1 {
    margin-top: 10px;
    margin-left: 20px;
}

#p2 {
    margin-top: -20px;
}

.teste1 {
    height: 350px;
}

.teste2-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.info-colab {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: -50px;
}

h4{
    background-color: #53C4CD;
    border-radius: 30px;
    width: fit-content;
    padding: 5px 15px 5px 15px;
    vertical-align: middle;
}

.grid-check {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.ajuste {
    margin-left: -15px;
}

.ajuste2 {
    margin-left: -5px;
}

.botao-edicao {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.collapsible-header{
    background-color: #53C4CD !important;
    border-radius: 30px !important;
    font-size: 18px;
    border: 3px solid #58595B !important;
}

.popout > li{
    margin: 10px !important;
}

.collapsible > li{
    border-radius: 30px !important;
}

.btn{
    background-color: #53C4CD !important;
    border-radius: 30px !important;
    color: #414042 !important;
    font-family: coolvetica, sans-serif !important;
    margin-left: 95px;
}
.btn-large {
    background-color: #53C4CD !important;
    border-radius: 30px !important;
    color: #414042 !important;
    font-family: coolvetica, sans-serif !important;
}

#info {
    margin-top: 40px;
}

.foto{
    margin-left: 20px;
    border-radius: 30px !important;
    background-color: #58595B;
    height: 250px;
    width: 225px;
}

p, span{
    font-size: 18px !important;
    margin-left: 10px;
}
.divisor{
    margin-left: 130px;
}
.name{
    margin-left: 10px;
}
.contrato{
    margin-left: 70px;
}
