<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS LOCAL -->
    <link rel="stylesheet" href="../static/css/geral.css">

    <link rel="stylesheet" href="../static/css/notificações.css">

    <!-- MATERIALIZE -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- FAVICON-->
    <link rel="shortcut icon" href="../static/img/icone_logo.svg" type="image/x-icon">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <script src="https://kit.fontawesome.com/4d3a0277e3.js" crossorigin="anonymous"></script>

    <script type="text/javascript">
        var myModal = document.getElementById('myModal')
        var myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()
        })
    </script>

    <title>Notificações</title>
</head>
<body>
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <img class="logo" src="../static/img/logo_correto_geral.svg">
        <li><a href="#!"><i class="fa-solid fa-house"></i> HOME</a></li>
        <li><a href="#!"><i class="fa-solid fa-location-crosshairs"></i> Organograma</a></li>
        <li><a href="#!"><i class="fa-solid fa-user"></i> Perfil do Colaborador</a></li>
        <li><a href="#!"><i class="fa-solid fa-id-badge"></i> Novo Perfil</a></li>
        <li><a href="#!"><i class="fa-solid fa-message"></i> Notificações</a></li>
        <li><a href="#!"><i class="fa-solid fa-file"></i> Documentos</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <div class="conteudo">
        <h3>Notificações</h3>
        <div class="notificacao">
            <div class="row">
                <h5 class="col s9">Rebeca fez o pré-cadastro!</h5>
                <a class="waves-effect waves-light btn">Aceitar <i class="fa-solid fa-circle-check"></i></a>
                <a class="waves-effect waves-light btn">Rejeitar <i class="fa-solid fa-circle-xmark"></i></a>
            </div>
        </div>
</body>
</html>