<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    
    <!-- CSS LOCAL -->
    <link rel="stylesheet" href="../static/css/geral.css">

    <link rel="stylesheet" href="../static/css/novoperfil.css">

    <!-- MATERIALIZE -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- FAVICON-->
    <link rel="shortcut icon" href="../static/img/icone_logo.svg" type="image/x-icon">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <script src="https://kit.fontawesome.com/4d3a0277e3.js" crossorigin="anonymous"></script>

    <title>Novo Perfil</title>
</head>
<body>
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <img class="logo" src="../static/img/logo_correto_geral.svg">
        <li><a href="#!"><i class="fa-solid fa-house"></i> HOME</a></li>
        <li><a href="#!"><i class="fa-solid fa-location-crosshairs"></i> Organograma</a></li>
        <li><a href="#!"><i class="fa-solid fa-user"></i> Perfil do Colaborador</a></li>
        <li><a href="#!"><i class="fa-solid fa-id-badge"></i> Novo Perfil</a></li>
        <li><a href="#!"><i class="fa-solid fa-message"></i> Notificações</a></li>
        <li><a href="#!"><i class="fa-solid fa-file"></i> Documentos</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <div class="conteudo">
        <div class="row">
            <h2 class="col s12">Novo Perfil</h2>
            <div class="form col s6">
                <div class="teste1">
                    <div class="input-field">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                    <a class="waves-effect waves-light btn">Criar novo perfil</a>
                </div>
            </div>
            <div class="form col s6">
                <div class="teste1">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="password" type="text" class="validate">
                            <label for="password">Departamento</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="email" type="text" class="validate">
                            <label for="email">Cargo</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="password" type="text" class="validate">
                            <label for="password">Salário</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>