<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS LOCAL -->
    <link rel="stylesheet" href="../static/css/geral.css">
    <link rel="stylesheet" href="../static/css/organopag.css">
    
    <!-- MATERIALIZE -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- JS PARA ORGANOGRAMAS APENAS DE EXEMPLO!!!!  -->
    <script src="../static/js/orgchart.js"></script>

    <!-- FAVICON-->
    <link rel="shortcut icon" href="../static/img/icone_logo.svg" type="image/x-icon">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <script src="https://kit.fontawesome.com/4d3a0277e3.js" crossorigin="anonymous"></script>

    <title>Organogramas</title>
</head>
<body>
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <img class="logo" src="../static/img/logo_correto_geral.svg">
        <li><a href="#!"><i class="fa-solid fa-house"></i> HOME</a></li>
        <li><a href="#!"><i class="fa-solid fa-location-crosshairs"></i> Organograma</a></li>
        <li><a href="#!"><i class="fa-solid fa-user"></i> Perfil do Colaborador</a></li>
        <li><a href="#!"><i class="fa-solid fa-id-badge"></i> Novo Perfil</a></li>
        <li><a href="#!"><i class="fa-solid fa-message"></i> Notificações</a></li>
        <li><a href="#!"><i class="fa-solid fa-file"></i> Documentos</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <div class="conteudo">

        <select class="browser-default">
            <option value="" disabled selected>Escolha o departamento</option>
            <option value="1">T.I.</option>
            <option value="2">R.H.</option>
        </select>

        <button type="button" class="inativos" >Inativos</button>
        <button type="button" class="novodep" >Novo Departamento</button>

        <!--  ORGANOGRAMAS APENAS DE EXEMPLO!!!!  -->
        <div style="width:100%; height:700px;" id="tree"/>

        <script>
            //JavaScript Organogramas 
            window.onload = function () {
        
                OrgChart.templates.polina.menuButton =
                '<div style="position:absolute;right:{p}px;top: 10px; width:40px;height:30px;cursor:pointer;" data-ctrl-menu="">'
                + '<hr style="background-color: #3AC6C4 ;opacity: 1; height: 3px; width: 40px; border: none;">'
                + '<hr style="background-color: #3AC6C4 ;opacity: 1; height: 3px; width: 40px; border: none;">'
                + '<hr style="background-color: #3AC6C4 ;opacity: 1; height: 3px; width: 40px; border: none;">'
                + '</div>';
                OrgChart.SEARCH_PLACEHOLDER = "Pesquisar";
                OrgChart.templates.polina.link = '<path stroke-linejoin="round" stroke="#aeaeae" stroke-width="1px" fill="none" d="{edge}" />';
                OrgChart.templates.polina.node = '<rect x="0" y="0" height="80" width="300" fill="#039BE5" stroke-width="4" stroke="#3AC6C4" rx="40" ry="40"></rect>';
                OrgChart.templates.polina.field_0 = '<text width="130" style="font-size: 18px;" fill="#000000" x="150" y="45" text-anchor="middle" class="field_0">{val}</text>';
                OrgChart.templates.polina.field_1 = '<text width="130" text-overflow="multiline" style="font-size: 12px;" fill="#ffffff" x="270" y="20" text-anchor="end" class="field_1">{val}</text>';
            var chart = new OrgChart(document.getElementById("tree"), {
                layout: OrgChart.treeLeftOffset,
                showYScroll: OrgChart.scroll.visible,
                mouseScrool: OrgChart.action.yScroll,
                template: "polina",
                nodeBinding: {
                    field_0: "name",
                    field_1: "title",
                    img_0: "img"
                },
                menu: {
                    pdf: { text: "Exportar para PDF" },
                    png: { text: "Exportar para PNG" },
                    svg: { text: "Exportar para SVG" },
                    csv: { text: "Exportar para CSV" }
                },
                nodes: [
                    { id: 1, name: "Amber McKenzie", title: "CEO", img: "https://cdn.balkan.app/shared/empty-img-white.svg" },
                    { id: 2, pid: 1, name: "Ava Field", title: "IT Manager", img: "https://cdn.balkan.app/shared/empty-img-white.svg" },
                    { id: 3, pid: 1, name: "Rhys Harper",title: "HR Manager", img: "https://cdn.balkan.app/shared/empty-img-white.svg" },
                    { id: 4, pid: 2, name: "Mariana Ayumi",title: "IT Intern", img: "https://cdn.balkan.app/shared/empty-img-white.svg" },
                    { id: 5, pid: 2, name: "Maria Clara",title: "IT Intern" ,img: "https://cdn.balkan.app/shared/empty-img-white.svg" },
                    { id: 6, pid: 3, name: "Rikio Anzai", title: "HR Intern", img: "https://cdn.balkan.app/shared/empty-img-white.svg" },
                    { id: 7, pid: 3, name: "Gizeli Fonseca", title: "HR Intern", img: "https://cdn.balkan.app/shared/empty-img-white.svg" },
                ]
            });
            }
        </script> 



    </div>
</body>
</html>