<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS LOCAL -->
    <link rel="stylesheet" href="../static/css/geral.css">

    <link rel="stylesheet" href="../static/css/perfilcolab.css">

    <!-- MATERIALIZE -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <!-- FAVICON-->
    <link rel="shortcut icon" href="../static/img/icone_logo.svg" type="image/x-icon">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <script src="https://kit.fontawesome.com/4d3a0277e3.js" crossorigin="anonymous"></script>

    <title>Perfil colaborador</title>

</head>
<body>
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <img class="logo" src="../static/img/logo_correto_geral.svg">
        <li><a href="#!"><i class="fa-solid fa-house"></i> HOME</a></li>
        <li><a href="#!"><i class="fa-solid fa-location-crosshairs"></i> Organograma</a></li>
        <li><a href="#!"><i class="fa-solid fa-user"></i> Perfil do Colaborador</a></li>
        <li><a href="#!"><i class="fa-solid fa-id-badge"></i> Novo Perfil</a></li>
        <li><a href="#!"><i class="fa-solid fa-message"></i> Notificações</a></li>
        <li><a href="#!"><i class="fa-solid fa-file"></i> Documentos</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    
    <div class="conteudo">
        <div class="row">
            <div class="col s7">
                <div class="teste1">
                    <div class="row">
                        <div class="col s4">
                            <div class="foto"></div>
                        </div>
                        <div class="col s6">
                            <h5>Mariana Ayumi Tamay</h5>
                            <p>CPF: 1234567890 <br>
                                Data de admissão: xx/yy/zzzz <br>
                                Data de desligamento: --/--/----
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s5">
                <div class="teste1">
                    <h4>Contrato</h4>
                    <a class="waves-effect waves-light btn">Visualizar</a>
                    <p> ou </p>
                    <a class="waves-effect waves-light btn">Baixar em PDF</a>
                </div>
            </div>

            <div class="col s12">
                <div class="teste2">
                    <h4>Informações</h4>
                    <p>Departamento: ----  Cargo: ----   Nível: ----   Tempo de Casa: ----   Faixa Salarial: ----</p>
                </div>
            </div>

            <div class="col s8">
                <div class="teste3">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">Documentos pessoais</div>
                            <div class="collapsible-body"><p>This is first section.</p></div>
                        </li>
                        <li>
                            <div class="collapsible-header">Dados Acadêmicos</div>
                            <div class="collapsible-body"><p>This is second section.</p></div>
                        </li>
                        <li>
                            <div class="collapsible-header">Documentos profissionais</div>
                            <div class="collapsible-body"><p>This is third section.</p></div>
                        </li>
                        <li>
                            <div class="collapsible-header">Estado Civil</div>
                            <div class="collapsible-body"><p>This is third section.</p></div>
                        </li>
                        <li>
                            <div class="collapsible-header">Paternidade/Maternidade</div>
                            <div class="collapsible-body"><p>This is third section.</p></div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col s4">
                <div class="teste3">
                    <h4>Benefícios</h4>
                    <form action="#">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Plano de Saúde</span>
                            </label><br>
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Vale Transporte</span>
                            </label><br>
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Vale Refeição</span>
                            </label><br>
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Auxílio creche</span>
                            </label>
                        </p>
                    </form>
                </div>
            </div>

            <div class="col s4">
                <div class="teste1">
                    <a class="waves-effect waves-light btn-large">Editar</a>
                    <a class="waves-effect waves-light btn-large">Excluir</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>