<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS LOCAL -->
    <link rel="stylesheet" href="../static/css/geral.css">

    <link rel="stylesheet" href="../static/css/precadastro1.css">

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- FAVICON-->
    <link rel="shortcut icon" href="../static/img/icone_logo.svg" type="image/x-icon">

    <title>Pré-cadastro</title>
</head>
<body>
    <div class="navbar">
        <nav class="nav flex-column">
            <img class="logo" src="../static/img/logo_correto_geral.svg">
            <a class="nav-link" href="#">HOME</a>
            <a class="nav-link" href="#">Organograma</a>
            <a class="nav-link" href="#">Perfil do Colaborador</a>
            <a class="nav-link active" aria-current="page" href="#">Novo Perfil</a>
            <a class="nav-link" href="#">Notificações</a>
            <a class="nav-link" href="#">Documentos</a>
        </nav>
    </div><br>
    <div class="conteudo">
        <div class="row">
            <div class="col-12">
                <form class="row g-3">
                    <div class="col-md-10">
                        <label class="form-label">Nome Completo</label>
                        <input type="text" class="form-control" id="Name">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Nacionalidade</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Naturalidade</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Raça</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Gênero</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-5">
                        <label class="form-label">CPF</label>
                        <input type="text" class="form-control" id="CPF">
                    </div>
                </form>
            </div>

            <div class="col-3">
                <form class="row g-3">
                    <div class="col-md-11">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">DDD</label>
                        <input class="form-control" >
                    </div>
                    <div class="col-md-11">
                        <label for="inputEmail4" class="form-label">Telefone</label>
                        <input class="form-control">
                    </div>
            </div>

            <div class="col-1"></div>

            <div class="col-8">
                <form class="row g-3">
                    <div class="col-11">
                        <label for="inputAddress" class="form-label">Endereço</label>
                        <input type="text" class="form-control" id="inputAddress">
                    </div>
                    <div class="col-md-5">
                        <label for="inputCity" class="form-label">Bairro</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-5">
                        <label for="inputState" class="form-label">Complemento</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-1">
                        <label for="inputZip" class="form-label">CEP</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </form>
            </div>

            <div class="col-5">
                <label for="inputState" class="form-label">Estado Civil</label>
                <select id="inputState" class="form-select">
                    <option selected>...</option>
                    <option>Solteiro(a)</option>
                    <option>Casado(a)</option>
                    <option>Divorciado(a)</option>
                    <option>Viúvo(a)</option>
                </select>
            </div>

            <div class="col-1"></div>

            <div class="col-5">
                <label class="form-label">Possui filhos?</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Sim</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Não</label>
                </div>
            </div>
        </div>
    </div>
</body>
</html>