<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS LOCAL -->
    <link rel="stylesheet" href="../static/css/geral.css">

    <link rel="stylesheet" href="../static/css/precadastro1.css">

    <!-- MATERIALIZE -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- FAVICON-->
    <link rel="shortcut icon" href="../static/img/icone_logo.svg" type="image/x-icon">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <script src="https://kit.fontawesome.com/4d3a0277e3.js" crossorigin="anonymous"></script>

    <title>Pré-cadastro</title>

</head>
<body>
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <img class="logo" src="../static/img/logo_correto_geral.svg">
        <li><a href="#!"><i class="fa-solid fa-house"></i> HOME</a></li>
        <li><a href="#!"><i class="fa-solid fa-location-crosshairs"></i> Organograma</a></li>
        <li><a href="#!"><i class="fa-solid fa-user"></i> Perfil do Colaborador</a></li>
        <li><a href="#!"><i class="fa-solid fa-id-badge"></i> Novo Perfil</a></li>
        <li><a href="#!"><i class="fa-solid fa-message"></i> Notificações</a></li>
        <li><a href="#!"><i class="fa-solid fa-file"></i> Documentos</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    <div class="conteudo">

        <!-- DADOS PESSOAIS-->
        <div class="row">
            <div class="col s12">
                <div class="teste1">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s8">
                                    <input id="nome" type="text" class="validate">
                                    <label for="nome">Nome Completo</label>
                                </div>
                                <div class="input-field col s4">
                                    <input id="cpf" type="text" class="validate">
                                    <label for="last_name">CPF</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s5">
                                    <input id="nacionalidade" type="text" class="validate">
                                    <label for="nacionalidade">Nacionalidade</label>
                                </div>
                                <div class="input-field col s5">
                                    <input id="naturalidade" type="text" class="validate">
                                    <label for="naturalidade">Naturalidade</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s4">
                                    <input id="genero" type="text" class="validate">
                                    <label for="genero">Gênero</label>
                                </div>
                                <div class="input-field col s4">
                                    <input id="raca" type="text" class="validate">
                                    <label for="raca">Raça</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s5">
                                    <input type="text" class="datepicker">
                                    <label for="data">Data de nascimento</label>
                                </div>
                                <div class="input-field col s4">
                                    <input id="idade" type="text" class="validate">
                                    <label for="idade">Idade</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- CONTATOS -->
            <div class="col s4">
                <div class="teste2">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="icon_telephone" type="tel" class="validate">
                                <label for="icon_telephone">DDD</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="icon_telephone" type="tel" class="validate">
                                <label for="icon_telephone">Telephone</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col s8">
                <div class="teste2">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                            <input id="endereço" type="email" class="validate">
                            <label for="endereço">Endereço</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="bairro" type="email" class="validate">
                                <label for="bairro">Bairro</label>
                            </div>
                            <div class="input-field col s3">
                                <input id="complemento" type="email" class="validate">
                                <label for="complemento">Complemento</label>
                            </div>
                            <div class="input-field col s3">
                                <input id="cep" type="email" class="validate">
                                <label for="cep">CEP</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="cidade" type="email" class="validate">
                                <label for="cidade">Cidade</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="estado" type="email" class="validate">
                                <label for="estado">Estado</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="regiao" type="email" class="validate">
                                <label for="regiao">Região</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col s6">
                <div class="teste3">
                    <label>Estado Social</label>
                    <select class="browser-default">
                        <option value="" disabled selected>Escolha uma das opções</option>
                        <option value="1">Solteiro(a)</option>
                        <option value="2">Casado(a)</option>
                        <option value="3">Divorciado(a)</option>
                        <option value="3">Viúvo(a)</option>
                    </select>
                </div>
            </div>

            <div class="col s6">
                <div class="teste3">
                    <label>Possui filhos?</label>
                    <form action="#">
                        <p>
                            <label>
                                <input type="checkbox" />
                                <span>Sim</span>
                            </label>
                            <label>
                                <input type="checkbox" />
                                <span>Não</span>
                            </label>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <a class="waves-effect waves-light btn">Próximo <i class="fa-solid fa-arrow-right-long"></i></a>
    </div>
</body>
</html>