.conteudo > select{
    position: relative;
    width: 35%;
    left: 3%;
    border: 3px solid #3AC6C4;
    border-radius: 20px;

}

.conteudo > button{
    position: relative;
    bottom: 35px;
    margin-left: 20px;
    height: 35px;
    border: none;
    border-radius: 15px;
}

.inativos{
    background-color: #8BC2C2;
}

.novodep{
    background-color: #3AC6C4;
}

.conteudo > .info{
  position: relative;
  right: 5%;
  top: 50px;
  display: inline-flex;
}

.conteudo > .info > h6{
  position: relative;
  margin-left: 100px;
  background-color: #8BC2C2 ;
  border-radius: 20px;
  text-indent: 10px;
  height: 25px;

}

.info_nome,.info_just{
  width: 300px;
}
.info_data{
  width: 130px;
}