.titulo{
    background-color: #53C4CD;
    color:#414042;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
    width: fit-content;
    text-align: center;
}

.campo1{
    background-color: #f4f4f4;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px 6px rgba(0, 0, 0, 0.25);
    padding: 6px;
}

.campo2{
    background-color: #f4f4f4;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px 6px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.campo3{
    background-color: #f4f4f4;
    border-radius: 30px;
    padding: 5px 15px 0px 15px !important;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px 6px rgba(0, 0, 0, 0.25);
    padding: 6px;
}

.campo4, .campo5, .campo6{
    background-color: #f4f4f4;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px 6px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

/*.s6{
    padding: 10px 10px 20px 10px !important;
}*/

p > label{
    margin: 10px;
}

.browser-default{
    border-radius: 30px !important;
    border: 3px solid #53C4CD !important;
    background-color: #f4f4f4 !important;
}

.file-field.input-field > .btn{
    border-radius: 0px !important ; 
    border: 0px !important;  
}

.btn{
    background-color: #53C4CD !important;
    border-radius: 30px !important;
    color: #414042 !important;
    font-family: coolvetica, sans-serif !important;
}

.bla > input{
    border: 3px solid #53C4CD !important;
    border-radius: 30px !important;
}

.input-field > label{
    margin-left: 20px !important;
}

form > div{
    margin: 0px !important;
}

.input-field input[type=text].valid {
    border: 3px solid #00e676 !important;
}

label, select, option {
    font-family: source-sans-pro, sans-serif !important;
}

button {
    background-color: turquoise !important;
}

form > .row > input[type=file] {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    margin-bottom: 15px !important;
    border-radius: 30px !important;
}

label[type=file] {
    display: block !important;
    margin-bottom: 1em !important;
    font-size: 1em !important;
    color: #fff !important;
    opacity: .9 !important;
    font-weight: bold !important;
}

span.character-counter{
    display: none;
}

@media only screen and (max-width : 992px) {    
 }

