.titulo {
    background-color: #ACD8DE;
    color: #414042;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
    width: fit-content;
    text-align: center;
}

.campo1 {
    background-color: #f4f4f4;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: rgba(89, 148, 148, 0.5) 0px 6px 12px -2px, rgba(89, 148, 148, 0.5) 0px 3px 7px -3px !important;
    padding: 6px;
}

.campo2 {
    background-color: #f4f4f4;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: rgba(89, 148, 148, 0.5) 0px 6px 12px -2px, rgba(89, 148, 148, 0.5) 0px 3px 7px -3px !important;
    padding: 10px;
}

.campo3 {
    background-color: #f4f4f4;
    border-radius: 30px;
    padding: 5px 15px 0px 15px !important;
    margin-bottom: 20px;
    box-shadow: rgba(89, 148, 148, 0.5) 0px 6px 12px -2px, rgba(89, 148, 148, 0.5) 0px 3px 7px -3px !important;
    padding: 6px;
}

.campo4,
.campo5,
.campo6 {
    background-color: #f4f4f4;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: rgba(89, 148, 148, 0.5) 0px 6px 12px -2px, rgba(89, 148, 148, 0.5) 0px 3px 7px -3px !important;
    padding: 10px;
}

/*.s6{
    padding: 10px 10px 20px 10px !important;
}*/

p > label {
    margin: 10px;
}

label {
    color: #504e51 !important;
    font-size: 16px;
}

.browser-default {
    border-radius: 30px !important;
    border: 3px solid #53C4CD !important;
    background-color: #f4f4f4 !important;
}

.file-field.input-field>.btn {
    border-radius: 0px !important;
    border: 0px !important;
}

.btn {
    background-color: #53C4CD !important;
    border-radius: 30px !important;
    color: #414042 !important;
    font-family: coolvetica, sans-serif !important;
}

.bla>input {
    border: 3px solid #53C4CD !important;
    border-radius: 30px !important;
}

.input-field>label {
    margin-left: 20px !important;
}

form>div {
    margin: 0px !important;
}

.collapsible-header > h6 {
    font-weight: bold;
    font-size: 35px;
}

.input-field input[type=text].valid {
    border: 3px solid #00e676 !important;
}

#casadoLabel,
#casadoBody,
#filhosLabel,
#filhosBody,
#homemLabel,
#homemBody {
    display: none;
}

#radioLabel {
    font-size: 16px;
}

.file {
    display: grid;
    grid: 1fr
}

.file > label {
    color: #414042;
    font-size: 18px;
}

.file > input {
    margin-bottom: 25px;
}

input[type=file]::file-selector-button {
    background-color: #ACD8DE !important;
    border-radius: 5px !important;
    color: #414042 !important;
    font-family: coolvetica, sans-serif !important;
    height: 30px;
    font-weight: bold;
    margin-top: 15px;
    -webkit-transition: 0.5s;
}
  
input[type=file]::file-selector-button:hover {
    background-color: #53C4CD !important;
    border-radius: 5px !important;
    color: #414042 !important;
    font-family: coolvetica, sans-serif !important;
    cursor: pointer;
    -webkit-transition: 0.5s;
}

#vac {
    margin-left: 10.4px !important;
}

label,
select,
option {
    font-family: source-sans-pro, sans-serif !important;
}

.botao-precad > a {
    background-color: #ACD8DE !important;
    color: #414042 !important;
    font-family: coolvetica, sans-serif !important;
    -webkit-transition: 0.5s;
}

.botao-precad > a:hover {
    background-color: #53C4CD !important;
    cursor: pointer;
    -webkit-transition: 0.5s !important;
}

span.character-counter {
    display: none;
}

.termosUso {
    display: flex;
    margin-right: 10px;
}

.eeeee {
    background-color: #ACD8DE;
    height: 22px !important;
    width: 22px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    position: relative;
}

div.eeeee span li {
    margin: 10px;
    line-height: 20px;
}

.divisor {
    border: 0.1px solid rgba(71, 71, 71, 0.518);
}

div.eeeee span {
    position: absolute;
    text-align: center;
    visibility: hidden;
    background-color: #ACD8DE;
    color: black;
    padding: 5px 10px;
    margin-bottom: 20px !important;
}

div.eeeee span:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -195px;
    width: 0; 
    height: 0;
    border-bottom: 8px solid #ACD8DE;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

div:hover.eeeee span {
    visibility: visible;
    opacity: 0.9;
    left: 0;
    width: 400px;
    z-index: 999;
}

.Buttom{
    text-align: center;
}

@media only screen and (max-width : 992px) {}