@import url("https://fonts.google.com/specimen/Source+Sans+Pro?query=source+sans+pro");

@import url("https://fonts.adobe.com/fonts/coolvetica");

body {
    background-color: #414042 !important;
    font-family: Source Sans Pro;
}

main {
    position: absolute;
    top: 25%;
    left: 40%;
    display: grid;
    grid-gap: 1.5em;
}

main > img {
    margin-left: 23px;
    margin-bottom: 20px;
}

#floatingInput, 
#floatingPassword {
    height: 50px;
    background-color: #414042;
    border: 2px solid #53C4CD;
    border-radius: 20px;
    width: 350px;
    color: #fff;
    text-indent: 8px;
    font-size: 15px;
}

.form-floating.mb-3 > label{
    color: #ffff;
    position: absolute;
    top: -5px;
    left: 8px;
    font-size: 17px;
}

span {
    color: white;
}

.opcao > a {
    position: absolute;
    color: #EF4646;
    text-decoration: none;
    right: 0px;
    -webkit-transition: 0.5s
}

.opcao > a:hover {
    position: absolute;
    color: #fff;
    text-decoration: none;
    -webkit-transition: 0.5s;
}

.opcao {
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: 1fr 1fr;
}

.col-12 > button {
    margin-left: auto;
    width: 300px;
    color: #000000;
    background-color: #53C4CD;
    border: 2px solid #53C4CD;
    border-radius: 20px;
    -webkit-transition: 1s;
}

.col-12 > button:hover {
    color: #000000;
    background-color: #21ebe7;
    border: 2px solid #21ebe7;
    border-radius: 20px;
}