@import url("https://fonts.google.com/specimen/Source+Sans+Pro?query=source+sans+pro");

@import url("https://fonts.adobe.com/fonts/coolvetica");

main {
    position: relative;
    top: 175px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    color: white !important;
}

.opcao > a {
    position: absolute;
    color: #EF4646;
    text-decoration: none;
    -webkit-transition: 0.5s
}

.opcao > a:hover {
    position: absolute;
    color: #fff;
    text-decoration: none;
    -webkit-transition: 0.5s;
}

.opcao {
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: 1fr 1fr;
}

.btn.btn-primary {
    margin-left: auto;
    width: 300px;
    color: #414042 ;
    background-color: #53C4CD;
    border-radius: 20px;
    -webkit-transition: 0.5s;
}

.btn.btn-primary:hover {
    color: #414042 ;
    background-color: #53C4CD;
    border-radius: 20px;
    -webkit-transition: 0.5s;
}

.bloco{
    padding: 30px;
    width: 500px;
    border-radius: 30px;
}

input { 
    text-indent: 15px !important;
}

@media screen and (max-width: 992px) {
    .bloco {
        margin: 0 auto;
   }
}