@import url("https://fonts.google.com/specimen/Source+Sans+Pro?query=source+sans+pro");

@import url("https://fonts.adobe.com/fonts/coolvetica");

body {
    background-color: #414042 !important;
    font-family: Source Sans Pro;
}

main {
    position: absolute;
    top: 25%;
    left: 40%;
    display: grid;
    grid-gap: 1.5em;
}

main > img {
    margin-left: 23px;
    margin-bottom: 20px;
}

span {
    color: white;
}

.opcao > a {
    position: absolute;
    color: #EF4646;
    text-decoration: none;
    right: 0px;
    -webkit-transition: 0.5s
}

.opcao > a:hover {
    position: absolute;
    color: #fff;
    text-decoration: none;
    -webkit-transition: 0.5s;
}

.opcao {
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: 1fr 1fr;
}

.btn {
    margin-left: auto !important;
    width: 300px !important;
    height: 40px !important;
    color: #000000 !important   ;
    background-color: #53C4CD!important;
    border: 2px solid #53C4CD !important;
    border-radius: 20px !important;
    -webkit-transition: 1s !important;
}

.btn:hover {
    color: #000000;
    background-color: #21ebe7 !important;
    border: 2px solid #21ebe7 !important;
    border-radius: 20px ;
}

