.notificacao {
    background-color: #ACD8DE !important;
    padding: 10px 10px 10px 20px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.btn {
    border-radius: 30px !important;
    background-color: #53C4CD !important;
    color: #414042 !important;
    border: 3px solid #414042 !important;
    width: 125px;
}

h3 {
    background-color: #53C4CD;
    border-radius: 30px;
    width: fit-content;
    padding: 10px 20px 10px 20px;
}

h5 {
    text-align: left;
}

.row {
    margin-top: 20px;
}

.grid-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}