body{
    background-color: #53C4CD !important;
}

h1, a, h2, h3{
    font-family: coolvetica, sans-serif;
    font-weight: 600 !important;
}

.logo{
    width: 150px;
    height: 100px;
    margin: 10px 0px 20px 20px;
}

.nav-link{
    margin-left: 10px;
    margin-bottom: 15px;
    color: #58595B !important;
    font-size: 18px;
}

.nav-link:hover{
    color: #1b1c1d !important;
}
.nav-link.active{
    background-color: #ffff;
    border-radius: 30px;
    color: #53C4CD !important;
}
.navbar{
    width: 500px;
}

.conteudo{
    background-color: #414042 !important;
    border-radius: 30px;
    max-width: 1250px;
    height: fit-content;
    margin-top: -490px;
    margin-left: 250px;
    padding: 30px 30px 40px 30px;
}

