.notificacao{
    background-color: #ACD8DE !important;
    padding: 10px 10px 10px 20px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.btn{
    background-color: #53C4CD !important;
    border-radius: 30px !important;
    margin-top: 15px;
}

h3{
    width: fit-content;
    background-color: #53C4CD;
    border-radius: 30px;
    padding: 5px 20px 5px 20px;
}