.col{
    background-color: #f4f4f4;
    border-radius: 30px;
    grid-gap: 50px !important;
    padding: 5px 15px 0px 15px !important;
    margin-bottom: 20px;
}

label{
    font-family: source-sans-pro, sans-serif !important;
}

p > label{
    margin: 20px;
}

.btn{
    background-color: #53C4CD !important;
    border-radius: 30px !important;
    color: #414042 !important;
    font-family: coolvetica, sans-serif !important;
}

h5{
    color: #414042;
    background-color: #53C4CD;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.s12{
    box-shadow: 10px 10px 10px 6px rgba(0, 0, 0, 0.25);
}

.input-field > input{
    border: 3px solid #53C4CD !important;
    border-radius: 30px !important;
}

.input-field input[type=text].valid {
    border: 3px solid #00e676 !important;
}

.input-field > label{
    margin-left: 20px !important;
}

label, select, option {
    font-family: source-sans-pro, sans-serif !important;
}
