#tree{
  width:100%;
  height:100%;
  background-color: 2414042;
}

.fa-solid.fa-bars.fa-3x{
  position: relative;
  color: #3AC6C4;
  top: 15px;
}

.fa-solid.fa-info.fa-2x{
  position: relative;
  color: #ffff;
  top: 8px;
}

[data-n-id='1'] rect {
  fill: #B2C1BD;
  stroke:#3AC6C4;
}

[data-l-id] path {
  stroke: #3AC6C4;

}
[data-boc-input]{
  padding-top: 7px;
}
.boc-form-field:nth-child(n+6){
  display: none;
}

[data-n-id] rect {
  fill: #F2F2F2;
}
.field_0 {
  fill: #000000;
}

.field_1 {
  fill: #000000;
}
