body {
    background-color: #F2F2F2;
    margin: 20px !important;
}

h1, h2, h3, h4, h5 {
    font-family: coolvetica, sans-serif;
    font-weight: 550 !important;
}

.logo {
    width: 150px;
    height: 100px;
    margin: 10px 0px 20px 20px;
}

.sidenav {
    background-color: #ACD8DE !important;
    box-shadow: none !important;
    width:20% !important;
    color: black !important;
    text-align: left;
    border-radius: 0px 30px 30px 0px;
}

.sidenav > li{
    font-family: coolvetica, sans-serif !important;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidenav > li:hover{
    background-color: white;
    border-radius: 20px;
}

a {
    color: #414042 !important;
    font-size: 18px;
    font-weight: bold;
}

.showSide {
    display: none;
}

.showSide a {
    font-size: 16px !important;
}

.hoverSide:hover .showSide {
    display: block;
 }

.showSide > li:hover {
    background-color: white;
    border-radius: 20px;
 }

.conteudo {
    width: 80%;
    height: fit-content;
    float: right;
    padding: 50px;
    margin: 20px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
    background-color: #ACD8DE;
}

@media screen and (max-width: 992px) {
    .body{
        margin: 0 auto !important;
   }
}