h2{
    background-color: #ACD8DE;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    color: #414042 !important;
}

.quad1{
    background-color: #f4f4f4;
    border-radius: 30px;
    height: 250px;
    padding: 20px;
    margin: 10px !important;
    box-shadow: 0px 11px 16px 8px rgba(89, 148, 148, 0.5);
}

.btn{
    background-color: #53C4CD !important;
    border-radius: 30px !important;
    font-family: coolvetica, sans-serif !important;
}

.input-field > input{
    border: 3px solid #ACD8DE !important;
    border-radius: 30px !important;
}

.input-field input[type=text].valid {
    border: 3px solid #00e676 !important;
}

.input-field input[type=text].invalid {
    border: 3px solid red !important;
}

.input-field > label{
    margin-left: 20px !important;
}

label, select, option {
    font-family: source-sans-pro, sans-serif !important;
}

.waves-effect.waves-light.btn:hover {
    background-color: #53C4CD !important;
    cursor: pointer;
    -webkit-transition: 0.5s !important;
}

.browser-default{
    margin-bottom: 20px;
}

.waves-effect.waves-light.btn{
    bottom: 5%;
    background-color: #53C4CD !important;
    color: #414042 !important;
    font-family: coolvetica, sans-serif !important;
    -webkit-transition: 0.5s;
}

.botao-novoperfil{
    text-align: center;    
}