.navigation {
    position: relative;
    display: none;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0.5rem 0rem;
    background-color: #fff;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  }
  
  .brand-name {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-left: 1rem;
  }
  
  .navigation-menu {
    z-index: 5;
    margin-left: auto;
    height: fit-content;
  }

  .navigation-menu ul {
    display: flex;
    padding: 0;
  }

  .navigation-menu i {
    margin-right: 10px;
  }
  
  .navigation-menu li {
    list-style-type: none;
    margin: 0 0;
  }
  
  .navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 18px;
  }
  
  .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #C5DFE2;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }
  
  .hamburger:hover {
    background-color: #ACD8DE;
  }

  @media screen and (max-width: 992px) {
    .navigation{
        display: flex;
    }

    .hamburger {
      display: grid;
    }
  
    .navigation-menu ul {
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: calc(100vh - 60px);
      background-color: white;
      border-top: 1px solid black;
      display: none;
    }
  
    .navigation-menu li {
      font-family: coolvetica, sans-serif !important;
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 20px;
    }
  
    .navigation-menu li a {
      color: black;
      width: 100%;
      padding: 0;
      border-radius: 20px;
    }
  
    .navigation-menu li:hover {
      background-color: white!important;
      border-radius: 20px;
      text-align: center;
    }
  
    .navigation-menu.expanded ul {
      display: flex;
      background-color: #ddebed !important;
      box-shadow: none !important;
      width:100% !important;
      color: black !important;
      text-align: center;
      border-radius: 0px 30px 30px 0px;
      border:none
    }

    .navigation-menu.expanded a:hover {
        background-color: white!important;
    }
  }
  
  